* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-image: url("../img/background.jpg");
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-title {
  padding: 30px 20px;
  font-weight: 400;
}

.nav-items {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}
.nav-items a {
  padding: 0 25px;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
}
.nav-items a:hover {
  color: #0099ff;
}
.nav-items .logo-ico {
  font-size: 45px;
  color: #0099ff;
}
.nav-items .burger-ico {
  padding: 0 30px;
  font-size: 36px;
  background: none;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}
.nav-items .burger-ico:hover {
  color: #0099ff;
}

.nav-mobile-list {
  position: absolute;
  padding: 50px;
  height: 100vh;
  width: 100vw;
  left: -100vw;
  background-image: url("../img/background.jpg");
  transition: transform 0.3s;
}
.nav-mobile-list a {
  display: block;
  font-size: 20px;
  padding: 20px;
  color: #000000;
  text-decoration: none;
}
.nav-mobile-list a:hover {
  font-weight: bold;
}

.active-nav-link {
  transform: translateX(100vw);
}

.nav-desktop {
  display: none;
}
.nav-desktop .nav-items-left {
  display: flex;
  align-items: center;
}
.nav-desktop .nav-items-left .logo-ico {
  margin: 0 20px;
}
.nav-desktop .nav-items-left .input-search {
  height: 35px;
  background-color: rgba(0, 0, 0, 0.057);
  border: 1px solid rgba(0, 0, 0, 0.141);
  border-radius: 8px;
}
.nav-desktop .sign-up-btn {
  height: 45px;
  width: 120px;
  margin-right: 50px;
  font-size: 16px;
  background-color: #0099ff;
  border: 1px solid #0099ff;
  border-radius: 8px;
  transition: all 0.3s;
}
.nav-desktop .sign-up-btn:hover {
  background: none;
  border: 1px solid #000000;
  color: #0099ff;
  cursor: pointer;
}

.products {
  height: 100vh;
}
.products .product-box {
  max-width: 800px;
  display: flex;
  margin-left: 20px;
  margin: 24px 0;
  transition: all 0.5s;
}
.products .product-box:hover {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.085);
}
.products .product-box .product-title {
  font-size: 16px;
  margin-bottom: 10px;
}
.products .product-box .item-photo {
  padding-top: 5px;
  width: 82px;
  height: 86px;
  margin: 0 20px 0 10px;
}
.products .product-box .product-item-box {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .product-box .vote-btn {
  margin: 0 15px;
  padding: 15px 10px;
  font-size: 30px;
  border: none;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}
.products .product-box .vote-btn:hover {
  color: #0099ff;
}
.products .product-box .number-of-votes {
  text-align: center;
  margin-bottom: 10px;
}
.products .product-box .product-item-date {
  font-size: 12px;
  color: #0099ff;
}

.registration-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.registration-page .form {
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.registration-page .form .register-input,
.registration-page .form .login-input {
  outline: none;
  background: #f2f2f2;
  width: 100%;
  border: none;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
}
.registration-page .form .register-btn {
  text-transform: uppercase;
  width: 100%;
  border: none;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  background-color: #0099ff;
  transition: all 0.3s;
}
.registration-page .form .register-btn:hover {
  background-color: #0073ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.registration-page .form .message {
  margin: 20px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.registration-page .form .message .register-msg,
.registration-page .form .message .login-msg {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}
.registration-page .form .disabled {
  display: none;
}

.aboutus {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 60px;
  border-top: 1px solid #000000;
  background-color: rgba(34, 30, 30, 0.173);
}
.footer .footer-info {
  position: relative;
  top: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.footer .footer-info .icon {
  padding: 0 20px;
  font-size: 24px;
}
.footer .footer-info .icon i {
  padding: 0 8px;
  color: #0099ff;
  transition: transform 0.3s;
}
.footer .footer-info .icon i:hover {
  transform: scale(1.2);
}

@media (min-width: 992px) {
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */